body {
  margin: 0;
  box-sizing: border-box;
  background: url('./public/images/tronBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Tron';
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamePlay {
  display: flex;
  justify-content: center;
  font-family: 'Tron';
  margin: 0 auto;
}

#game {
  border: 4px solid #040f10;
  margin: 0 auto;
  display: block;
  background: url('./public/images/tronGrid3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 80px;
  background-color: #040f10;
  width: 100%;
  padding: 0.1rem 0;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Tron';
  font-size: 3em;
  color: #94fcf1;
  text-align: center;
  background-color: #040f10;
  /* margin: auto; */
}

h2 {
  font-family: 'Tron';
  font-size: 2em;
  text-align: center;
  color: #f3ab42;
  margin: auto;
  padding: 50px;
}

h3 {
  font-family: 'Tron2';
  font-size: 2em;
  text-align: center;
  color: #d8d8d8;
  margin: auto;
  padding-bottom: 10px;
}

.winner-block {
  margin-top: 1.1rem;
  font-size: 4.2em;
  color: #f3ab42;
  text-align: center;
  font-family: 'Tron';
}

@font-face {
  font-family: 'Tron';
  src: url('./tr2n/Tr2n.ttf');
}

@font-face {
  font-family: 'Tron2';
  src: url('./sheeping_cats/Sheeping Cats Straight.otf');
}

.wins-box {
  text-align: center;
  border: 1px solid #94fcf1;
  margin: 1em;
  background-color: #23596d;
}

.score {
  padding: 20px;
  margin: 0 10px;
}
